@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
.animated-background,
.evo-list-blog-page
.list-blogs
.blog-item
.blog-item-thumbnail
img:not(.loaded) {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f6f6;
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
    background-size: 700px 104px;
    position: relative;
}
@media (max-width: 767px) {
    .evo-list-blog-page {
        margin-top: 0 !important;
    }
}
.evo-list-blog-page .list-blogs .blog-item {
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .evo-list-blog-page .list-blogs .blog-item {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    }
}
.evo-list-blog-page .list-blogs .blog-item .blog-item-thumbnail {
    float: left;
    width: 530px;
    height: auto;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}
@media (max-width: 1024px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-thumbnail {
        width: 430px;
    }
}
@media (max-width: 991px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-thumbnail {
        width: 350px;
    }
}
@media (max-width: 767px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-thumbnail {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}
@media (max-width: 480px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-thumbnail {
        min-height: 267px;
    }
}
@media (max-width: 376px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-thumbnail {
        min-height: 241px;
    }
}
@media (max-width: 321px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-thumbnail {
        min-height: 204px;
    }
}
@media (max-width: 480px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-thumbnail img {
        width: auto !important;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
.evo-list-blog-page
.list-blogs
.blog-item
.blog-item-thumbnail
img:not(.loaded) {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.2;
}
.evo-list-blog-page .list-blogs .blog-item .blog-item-mains {
    padding-left: 560px;
}
@media (max-width: 1024px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-mains {
        padding-left: 460px;
    }
}
@media (max-width: 991px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-mains {
        padding-left: 370px;
    }
}
@media (max-width: 767px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-mains {
        padding-left: 0;
        margin-top: 10px;
    }
}
.evo-list-blog-page .list-blogs .blog-item .blog-item-mains .post-time {
    font-size: 17px;
    display: block;
    padding-bottom: 15px;
    line-height: 1;
    font-style: italic;
}
@media (max-width: 991px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-mains .post-time {
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-mains .post-time {
        font-size: 13px;
        padding-bottom: 10px;
    }
}
.evo-list-blog-page .list-blogs .blog-item .blog-item-mains .blog-item-name {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}
@media (max-width: 991px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-mains .blog-item-name {
        font-size: 23px;
    }
}
@media (max-width: 767px) {
    .evo-list-blog-page .list-blogs .blog-item .blog-item-mains .blog-item-name {
        font-size: 18px;
        padding-bottom: 10px;
    }
}
.evo-list-blog-page .list-blogs .blog-item .blog-item-mains .blog-item-name a {
    color: #333f48;
}
.evo-list-blog-page
.list-blogs
.blog-item
.blog-item-mains
.blog-item-name
a:hover,
.evo-list-blog-page
.list-blogs
.blog-item
.blog-item-mains
.blog-item-name
a:focus {
    color: #ff0080;
}
.evo-list-blog-page .list-blogs .blog-item .blog-item-mains .blog-item-summary {
    line-height: 1.5;
    margin-bottom: 30px;
    font-style: italic;
}
