@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background, .section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img img:not(.loaded), .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img img:not(.loaded), .section_gift .evo-block-product .evo-product-block-item .product_thumb img:not(.loaded), .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb img:not(.loaded), .section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img img:not(.loaded), .section_blogs a.evo-item-blogs .evo-article-image img:not(.loaded) {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 700px 104px;
    position: relative
}

.home-slider .slick-slide {
    margin: 5px
}

.home-slider .slick-slide:hover, .home-slider .slick-slide:focus {
    outline: none;
    box-shadow: none;
    border: none
}

.home-slider .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    line-height: 30px;
    text-align: center;
    z-index: 2
}

@media (max-width: 767px) {
    .home-slider .slick-arrow {
        display: none !important
    }
}

.home-slider .slick-arrow.slick-prev {
    left: -15px
}

.home-slider .slick-arrow.slick-prev:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/back.svg?1622789881849);
    height: 30px;
    width: 30px;
    display: block
}

.home-slider .slick-arrow.slick-next {
    right: -15px
}

.home-slider .slick-arrow.slick-next:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/right-arrow.svg?1622789881849);
    height: 30px;
    width: 30px;
    display: block
}

.home-slider .slick-dots {
    text-align: center
}

.home-slider .slick-dots li {
    display: inline-block
}

.home-slider .slick-dots li button {
    border-radius: 0;
    height: 10px;
    width: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 0;
    font-size: 0
}

.home-slider .slick-dots li + li {
    margin-left: 5px
}

.home-slider .slick-dots li.slick-active button {
    border-color: #ff0080;
    background-color: #ff0080;
    border-radius: 0;
    width: 10px
}

.home-slider .slick-slide {
    margin: 0
}

.home-slider .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border-radius: 15px;
    height: 24px;
    align-items: center;
    display: flex !important;
    justify-content: center
}

.home-slider .slick-dots li button {
    border-radius: 0;
    height: 10px;
    width: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff
}

.home-slider .slick-dots li.slick-active button {
    border-color: #ff0080;
    background-color: #ff0080;
    border-radius: 0;
    width: 10px
}

.section_san_pham_noi_bat {
    margin-top: 20px;
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .section_san_pham_noi_bat {
        margin-top: 10px;
        margin-bottom: 10px
    }

    .section_san_pham_noi_bat .row .col-xs-6:nth-child(2n+1) {
        padding-right: 3.5px
    }

    .section_san_pham_noi_bat .row .col-xs-6:nth-child(2n+2) {
        padding-left: 3.5px
    }
}

.section_san_pham_noi_bat .evo-ovr {
    width: 100%;
    overflow: visible;
    position: relative
}

@media (max-width: 767px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 {
        margin-bottom: 15px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content {
    padding: 25px;
    position: relative;
    margin: 0 auto;
    margin-top: -17%;
    width: 80%;
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.09);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -moz-transform: translateY(0%);
    background-color: #fff
}

@media (max-width: 767px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content {
        width: 90%;
        padding: 10px
    }
}

@media (max-width: 1024px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content {
        margin-top: -178px
    }
}

@media (max-width: 991px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content {
        margin-top: -108px
    }
}

@media (max-width: 767px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content {
        margin-top: -50px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content p {
    padding: 0 0 15px;
    text-transform: inherit;
    margin: 0;
    font-weight: normal;
    color: #333
}

@media (max-width: 767px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content p {
        font-size: 13px;
        padding: 0 0 8px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content h3 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    font-size: 20px
}

@media (max-width: 767px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content h3 {
        font-size: 15px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content a {
    padding: 0 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    background: #ff0080
}

.section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content a:hover, .section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content a:focus {
    color: #fff;
    background-color: #333
}

@media (max-width: 767px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .featured-content a {
        padding: 0 10px;
        font-size: 13px;
        height: 30px;
        line-height: 30px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img {
    display: block;
    position: relative;
    min-height: 527px
}

@media (max-width: 1024px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img {
        min-height: 432px
    }
}

@media (max-width: 991px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img {
        min-height: 328px
    }
}

@media (max-width: 767px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img {
        min-height: 505px
    }
}

@media (max-width: 668px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img {
        min-height: 457px
    }
}

@media (max-width: 569px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img {
        min-height: 386px
    }
}

@media (max-width: 480px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img {
        min-height: 280px
    }
}

@media (max-width: 376px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img {
        min-height: 253px
    }
}

@media (max-width: 321px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img {
        min-height: 213px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_1 .fix-img img:not(.loaded) {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.2
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content {
    text-align: center;
    width: 91%;
    height: 94%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 50px;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -moz-transform: translateY(0%);
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    color: #333
}

@media (max-width: 991px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section h2 {
        font-size: 18px
    }
}

@media (max-width: 480px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section h2 {
        font-size: 25px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #ff0080;
    font-size: 30px;
    font-weight: normal
}

@media (max-width: 991px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section h3 {
        font-size: 22px
    }
}

@media (max-width: 480px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section h3 {
        font-size: 30px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section span {
    color: #686868;
    font-size: 120px;
    line-height: 80%
}

@media (max-width: 991px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section span {
        font-size: 80px
    }
}

@media (max-width: 480px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section span {
        font-size: 120px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section h4 {
    color: #51616b;
    margin: 0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: normal
}

@media (max-width: 991px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section h4 {
        font-size: 16px
    }
}

@media (max-width: 480px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section h4 {
        font-size: 22px
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section a {
    padding: 0 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    background: #ff0080
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section a:hover, .section_san_pham_noi_bat .evo-ovr.overlay_2 .featured-content .featured-content-section a:focus {
    color: #fff;
    background-color: #333
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img {
    display: block;
    position: relative;
    min-height: 628px
}

@media (max-width: 1024px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img {
        min-height: 515px
    }
}

@media (max-width: 991px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img {
        min-height: 390px
    }
}

@media (max-width: 767px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img {
        min-height: 662px
    }
}

@media (max-width: 668px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img {
        min-height: 662px
    }
}

@media (max-width: 569px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img {
        min-height: 662px
    }
}

@media (max-width: 480px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img {
        min-height: 679px
    }
}

@media (max-width: 376px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img {
        min-height: 613px
    }
}

@media (max-width: 321px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img {
        min-height: 519px
    }
}

@media (max-width: 480px) {
    .section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img img {
        width: 100%
    }
}

.section_san_pham_noi_bat .evo-ovr.overlay_2 .fix-img img:not(.loaded) {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.2
}

.section_gift {
    margin-top: 40px
}

@media (max-width: 767px) {
    .section_gift {
        margin-top: 7px
    }
}

.section_gift .titlecp {
    margin-bottom: 30px
}

@media (max-width: 767px) {
    .section_gift .titlecp {
        margin-bottom: 10px
    }
}

.section_gift .titlecp h3 {
    color: #333f48;
    font-size: 35px;
    font-weight: bold;
    float: left;
    margin: 0
}

@media (max-width: 991px) {
    .section_gift .titlecp h3 {
        font-size: 30px
    }
}

@media (max-width: 767px) {
    .section_gift .titlecp h3 {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 15px
    }
}

.section_gift .titlecp h3 a {
    text-transform: uppercase;
    color: #333f48
}

.section_gift .titlecp h3 a:hover, .section_gift .titlecp h3 a:focus {
    color: #ff0080
}

.section_gift .titlecp h3 .sale-flash-icon {
    display: inline-block;
    padding: 1px;
    box-sizing: content-box;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    background-color: #000;
    letter-spacing: 0;
    margin-right: 10px;
    border-radius: 1px
}

.section_gift .titlecp h3 .sale-flash-icon i {
    color: #ff0080;
    font-size: 30px;
    position: relative;
    top: -2px
}

@media (max-width: 767px) {
    .section_gift .titlecp h3 .sale-flash-icon i {
        top: 2px
    }
}

.section_gift .titlecp .timer {
    float: left;
    margin-left: 100px;
    display: flex;
    align-items: center;
    height: 49px
}

@media (max-width: 991px) {
    .section_gift .titlecp .timer {
        float: right;
        margin-left: 0;
        height: 42px
    }
}

@media (max-width: 767px) {
    .section_gift .titlecp .timer {
        float: none;
        text-align: center
    }
}

.section_gift .titlecp .timer h5 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    letter-spacing: 3px
}

@media (max-width: 991px) {
    .section_gift .titlecp .timer h5 {
        font-size: 18px;
        letter-spacing: 1px
    }
}

@media (max-width: 767px) {
    .section_gift .titlecp .timer h5 {
        display: none
    }
}

.section_gift .titlecp .timer .timer-view {
    display: inline-block
}

@media (max-width: 767px) {
    .section_gift .titlecp .timer .timer-view {
        margin-left: auto;
        margin-right: auto
    }
}

.section_gift .evo-block-product {
    margin-left: -5px;
    margin-right: -5px
}

.section_gift .evo-block-product .slick-slide {
    margin: 5px
}

.section_gift .evo-block-product .slick-slide:hover, .section_gift .evo-block-product .slick-slide:focus {
    outline: none;
    box-shadow: none;
    border: none
}

.section_gift .evo-block-product .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    line-height: 30px;
    text-align: center;
    z-index: 2
}

@media (max-width: 767px) {
    .section_gift .evo-block-product .slick-arrow {
        display: none !important
    }
}

.section_gift .evo-block-product .slick-arrow.slick-prev {
    left: -15px
}

.section_gift .evo-block-product .slick-arrow.slick-prev:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/back.svg?1622789881849);
    height: 30px;
    width: 30px;
    display: block
}

.section_gift .evo-block-product .slick-arrow.slick-next {
    right: -15px
}

.section_gift .evo-block-product .slick-arrow.slick-next:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/right-arrow.svg?1622789881849);
    height: 30px;
    width: 30px;
    display: block
}

.section_gift .evo-block-product .slick-dots {
    text-align: center
}

.section_gift .evo-block-product .slick-dots li {
    display: inline-block
}

.section_gift .evo-block-product .slick-dots li button {
    border-radius: 0;
    height: 10px;
    width: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 0;
    font-size: 0
}

.section_gift .evo-block-product .slick-dots li + li {
    margin-left: 5px
}

.section_gift .evo-block-product .slick-dots li.slick-active button {
    border-color: #ff0080;
    background-color: #ff0080;
    border-radius: 0;
    width: 10px
}

@media (min-width: 768px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb .label_product span {
        background: #ff0080;
        color: white;
        height: 32px;
        width: 32px;
        line-height: 32px;
        font-size: 14px
    }

    .section_gift .evo-block-product .evo-product-block-item .product_content .price-container .current_price {
        font-size: 24px
    }

    .section_gift .evo-block-product .evo-product-block-item .product_content .price-container .old_price {
        color: #333f48;
        font-size: 14px
    }
}

.section_gift .evo-block-product .evo-product-block-item .product_thumb {
    position: relative;
    height: 373px
}

@media (max-width: 1024px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 307px
    }
}

@media (max-width: 991px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 316px
    }
}

@media (max-width: 767px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 309px
    }
}

@media (max-width: 668px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 279px
    }
}

@media (max-width: 569px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 235px
    }
}

@media (max-width: 480px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 260px
    }
}

@media (max-width: 376px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 235px
    }
}

@media (max-width: 321px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 197px
    }
}

.section_gift .evo-block-product .evo-product-block-item .product_thumb img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.section_gift .evo-block-product .evo-product-block-item .product_thumb img:not(.loaded) {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.2
}

.section_san_pham {
    margin-top: 20px;
    position: relative
}

@media (max-width: 767px) {
    .section_san_pham {
        margin-top: 7px
    }
}

.section_san_pham .e-tabs .titlecp {
    margin-bottom: 20px
}

@media (max-width: 767px) {
    .section_san_pham .e-tabs .titlecp {
        margin-bottom: 7px
    }
}

.section_san_pham .e-tabs .titlecp h3 {
    float: left;
    font-size: 28px;
    font-weight: 700;
    color: #333f48;
    text-transform: uppercase;
    margin: 0
}

@media (max-width: 767px) {
    .section_san_pham .e-tabs .titlecp h3 {
        font-size: 20px
    }
}

.section_san_pham .e-tabs .titlecp h3 a {
    color: #333f48
}

.section_san_pham .e-tabs .titlecp h3 a:hover, .section_san_pham .e-tabs .titlecp h3 a:focus {
    color: #ff0080
}

@media (max-width: 767px) {
    .section_san_pham .e-tabs .titlecp .button_show_tab {
        color: #ff0080;
        position: absolute;
        right: 8px;
        z-index: 99;
        top: 7px;
        height: 14px;
        line-height: 14px;
        background: #fff
    }

    .section_san_pham .e-tabs .titlecp .button_show_tab span {
        background-color: #1c1c1c;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px
    }

    .section_san_pham .e-tabs .titlecp .button_show_tab span + span {
        margin-top: 4px
    }

    .section_san_pham .e-tabs .titlecp .button_show_tab span:nth-child(2) {
        width: 70%
    }
}

.section_san_pham .e-tabs .tab-desktop {
    float: left;
    margin-left: 40px
}

@media (max-width: 767px) {
    .section_san_pham .e-tabs .tab-desktop {
        width: 100%;
        float: none;
        margin-left: 0;
        clear: both;
        margin-top: 7px
    }

    .section_san_pham .e-tabs .tab-desktop.evo-close {
        display: none !important
    }

    .section_san_pham .e-tabs .tab-desktop.evo-open {
        display: block !important
    }
}

.section_san_pham .e-tabs .tab-desktop li {
    float: left;
    margin: 12px 25px 0 0
}

@media (max-width: 767px) {
    .section_san_pham .e-tabs .tab-desktop li {
        float: none;
        width: 100%;
        margin: 0
    }

    .section_san_pham .e-tabs .tab-desktop li + li {
        margin-left: 0;
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid #f5f5f5
    }
}

.section_san_pham .e-tabs .tab-desktop li span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 5px;
    color: #333f48
}

.section_san_pham .e-tabs .tab-desktop li.current span, .section_san_pham .e-tabs .tab-desktop li:hover span {
    color: #ff0080
}

@media (min-width: 767px) {
    .section_san_pham .e-tabs .tab-desktop li.current span, .section_san_pham .e-tabs .tab-desktop li:hover span {
        border-bottom: 2px solid #ff0080
    }
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab {
    margin-left: -5px;
    margin-right: -5px
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-slide {
    margin: 5px
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-slide:hover, .section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-slide:focus {
    outline: none;
    box-shadow: none;
    border: none
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    line-height: 30px;
    text-align: center;
    z-index: 2
}

@media (max-width: 767px) {
    .section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-arrow {
        display: none !important
    }
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-arrow.slick-prev {
    left: -15px
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-arrow.slick-prev:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/back.svg?1622789881849);
    height: 30px;
    width: 30px;
    display: block
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-arrow.slick-next {
    right: -15px
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-arrow.slick-next:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/right-arrow.svg?1622789881849);
    height: 30px;
    width: 30px;
    display: block
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-dots {
    text-align: center
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-dots li {
    display: inline-block
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-dots li button {
    border-radius: 0;
    height: 10px;
    width: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 0;
    font-size: 0
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-dots li + li {
    margin-left: 5px
}

.section_san_pham .e-tabs .tab-content .slick_ajax_tab .slick-dots li.slick-active button {
    border-color: #ff0080;
    background-color: #ff0080;
    border-radius: 0;
    width: 10px
}

.section_san_pham .e-tabs .tab-content.current {
    overflow: visible;
    position: relative;
    min-height: 60px
}

.section_san_pham .e-tabs .tab-content.current .loading {
    position: absolute;
    top: 0;
    left: 50%
}

.section_san_pham .e-tabs .tab-content .evo-product-block-item {
    margin-bottom: 0
}

.section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
    position: relative;
    height: 373px
}

@media (max-width: 1024px) {
    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 307px
    }
}

@media (max-width: 991px) {
    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 316px
    }
}

@media (max-width: 767px) {
    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 309px
    }
}

@media (max-width: 668px) {
    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 279px
    }
}

@media (max-width: 569px) {
    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 235px
    }
}

@media (max-width: 480px) {
    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 260px
    }
}

@media (max-width: 376px) {
    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 235px
    }
}

@media (max-width: 321px) {
    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 197px
    }
}

.section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb img:not(.loaded) {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.2
}

.section_collection {
    margin-top: 20px;
    margin-bottom: 30px
}

.section_collection .wide-banner-type-4-block {
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.section_collection .wide-banner-type-4-block .wide-banner-type-4-content {
    width: 80%;
    padding-top: 90px;
    padding-bottom: 240px;
    margin: 0 auto;
    position: relative;
    text-align: center
}

@media (max-width: 991px) {
    .section_collection .wide-banner-type-4-block .wide-banner-type-4-content {
        padding-top: 40px;
        padding-bottom: 160px
    }
}

@media (max-width: 767px) {
    .section_collection .wide-banner-type-4-block .wide-banner-type-4-content {
        padding-top: 15px;
        padding-bottom: 90px
    }
}

.section_collection .wide-banner-type-4-block .wide-banner-type-4-content p {
    color: #000;
    font-weight: 500;
    margin-bottom: 10px
}

.section_collection .wide-banner-type-4-block .wide-banner-type-4-content h2 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1.2;
    font-weight: 700;
    font-size: 45px;
    margin-top: 0
}

@media (max-width: 991px) {
    .section_collection .wide-banner-type-4-block .wide-banner-type-4-content h2 {
        font-size: 40px
    }
}

@media (max-width: 767px) {
    .section_collection .wide-banner-type-4-block .wide-banner-type-4-content h2 {
        font-size: 25px
    }
}

.section_collection .wide-banner-type-4-block .wide-banner-type-4-content a {
    padding: 0 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    background: #ff0080
}

.section_collection .wide-banner-type-4-block .wide-banner-type-4-content a:hover, .section_collection .wide-banner-type-4-block .wide-banner-type-4-content a:focus {
    color: #fff;
    background-color: #000
}

.section_collection .grid-banner-type-5 {
    margin-top: 20px;
    padding: 35px;
    position: relative;
    z-index: 2;
    background: #fff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.09);
    width: 100%
}

@media (max-width: 991px) {
    .section_collection .grid-banner-type-5 {
        padding: 15px
    }
}

@media (max-width: 767px) {
    .section_collection .grid-banner-type-5 {
        padding: 15px
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile {
        margin-left: -5px;
        margin-right: -5px
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-slide {
        margin: 5px
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-slide:hover, .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-slide:focus {
        outline: none;
        box-shadow: none;
        border: none
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-arrow {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 30px;
        height: 30px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        line-height: 30px;
        text-align: center;
        z-index: 2
    }
}

@media (max-width: 767px) and (max-width: 767px) {
    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-arrow {
        display: none !important
    }
}

@media (max-width: 767px) {
    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-arrow.slick-prev {
        left: -15px
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-arrow.slick-prev:before {
        content: "";
        background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/back.svg?1622789881849);
        height: 30px;
        width: 30px;
        display: block
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-arrow.slick-next {
        right: -15px
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-arrow.slick-next:before {
        content: "";
        background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/right-arrow.svg?1622789881849);
        height: 30px;
        width: 30px;
        display: block
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-dots {
        text-align: center
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-dots li {
        display: inline-block
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-dots li button {
        border-radius: 0;
        height: 10px;
        width: 10px;
        border: 1px solid #e5e5e5;
        background-color: #fff;
        padding: 0;
        font-size: 0
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-dots li + li {
        margin-left: 5px
    }

    .section_collection .grid-banner-type-5 .slick-slider-mobile .slick-dots li.slick-active button {
        border-color: #ff0080;
        background-color: #ff0080;
        border-radius: 0;
        width: 10px
    }
}

@media (max-width: 480px) {
    .section_collection .grid-banner-type-5 {
        padding: 7px 10px
    }
}

@media (max-width: 767px) {
    .section_collection .grid-banner-type-5 .grid__item {
        padding: 0
    }
}

.section_collection .grid-banner-type-5 .grid__item .bg-effect {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

.section_collection .grid-banner-type-5 .grid__item .bg-effect .featured-content {
    margin-top: 30px;
    -webkit-transition: all .35s linear;
    transition: all .35s linear;
    -ms-transform-origin: 50% 0
}

@media (max-width: 991px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .featured-content {
        margin-top: 15px
    }
}

@media (max-width: 480px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .featured-content {
        margin-top: 7px
    }
}

.section_collection .grid-banner-type-5 .grid__item .bg-effect .featured-content h3 {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    font-size: 25px;
    margin: 0 0 15px;
    float: left
}

@media (max-width: 991px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .featured-content h3 {
        font-size: 20px;
        margin: 0 0 7px
    }
}

@media (max-width: 480px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .featured-content h3 {
        font-size: 16px;
        margin: 0 0 0px
    }
}

.section_collection .grid-banner-type-5 .grid__item .bg-effect .featured-content h3 a {
    color: #000;
    display: block
}

.section_collection .grid-banner-type-5 .grid__item .bg-effect .featured-content h3:after {
    content: "";
    width: 50px;
    height: 2px;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #000
}

.section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img {
    display: block;
    position: relative;
    min-height: 356px
}

@media (max-width: 1024px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img {
        min-height: 393px
    }
}

@media (max-width: 991px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img {
        min-height: 295px
    }
}

@media (max-width: 767px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img {
        min-height: 303px
    }
}

@media (max-width: 668px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img {
        min-height: 427px
    }
}

@media (max-width: 569px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img {
        min-height: 357px
    }
}

@media (max-width: 480px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img {
        min-height: 260px
    }
}

@media (max-width: 376px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img {
        min-height: 233px
    }
}

@media (max-width: 321px) {
    .section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img {
        min-height: 194px
    }
}

.section_collection .grid-banner-type-5 .grid__item .bg-effect .evo-fix-img img:not(.loaded) {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.2
}

.section_collection .grid-banner-type-5 .grid__item .bg-effect:hover .featured-content h3 a {
    color: #ff0080
}

.section_collection .grid-banner-type-5 .grid__item .bg-effect:hover .featured-content h3:after {
    width: 100%;
    background-color: #ff0080
}

.section_blogs {
    margin-top: 20px
}

@media (max-width: 767px) {
    .section_blogs {
        margin-top: 7px
    }
}

.section_blogs .new_title {
    margin-bottom: 20px
}

@media (max-width: 767px) {
    .section_blogs .new_title {
        margin-bottom: 7px
    }
}

.section_blogs .new_title h3 {
    font-size: 28px;
    font-weight: 700;
    color: #333f48;
    text-transform: uppercase;
    margin: 0
}

@media (max-width: 767px) {
    .section_blogs .new_title h3 {
        font-size: 20px
    }
}

.section_blogs .new_title h3 a {
    color: #333f48
}

.section_blogs .new_title h3 a:hover, .section_blogs .new_title h3 a:focus {
    color: #ff0080
}

.section_blogs a.evo-item-blogs {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative
}

.section_blogs a.evo-item-blogs .evo-article-image {
    position: relative;
    overflow: hidden;
    height: 187px
}

@media (max-width: 1024px) {
    .section_blogs a.evo-item-blogs .evo-article-image {
        height: 153px
    }
}

@media (max-width: 991px) {
    .section_blogs a.evo-item-blogs .evo-article-image {
        height: 158px
    }
}

@media (max-width: 767px) {
    .section_blogs a.evo-item-blogs .evo-article-image {
        height: 235px
    }
}

@media (max-width: 668px) {
    .section_blogs a.evo-item-blogs .evo-article-image {
        height: 213px
    }
}

@media (max-width: 569px) {
    .section_blogs a.evo-item-blogs .evo-article-image {
        height: 179px
    }
}

@media (max-width: 480px) {
    .section_blogs a.evo-item-blogs .evo-article-image {
        height: 267px
    }
}

@media (max-width: 376px) {
    .section_blogs a.evo-item-blogs .evo-article-image {
        height: 241px
    }
}

@media (max-width: 321px) {
    .section_blogs a.evo-item-blogs .evo-article-image {
        height: 204px
    }
}

.section_blogs a.evo-item-blogs .evo-article-image img {
    -webkit-transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.section_blogs a.evo-item-blogs .evo-article-image img:not(.loaded) {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.2
}

.section_blogs a.evo-item-blogs h3 {
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.67;
    margin-top: 10px;
    margin-bottom: 0
}

.section_blogs a.evo-item-blogs p {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.52px;
    margin-bottom: 0;
    color: #747474;
    text-align: left;
    padding-bottom: 10px;
    word-wrap: break-word
}

.section_blogs a.evo-item-blogs:hover .evo-article-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.section_blogs a.evo-item-blogs:hover h3 {
    color: #ff0080
}

.section_blogs a.evo-item-blogs:hover p {
    color: #1c1c1c
}

.section_blogs .evo-owl-blog {
    margin-left: -5px;
    margin-right: -5px
}

.section_blogs .evo-owl-blog .slick-slide {
    margin: 5px
}

.section_blogs .evo-owl-blog .slick-slide:hover, .section_blogs .evo-owl-blog .slick-slide:focus {
    outline: none;
    box-shadow: none;
    border: none
}

.section_blogs .evo-owl-blog .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    line-height: 30px;
    text-align: center;
    z-index: 2
}

@media (max-width: 767px) {
    .section_blogs .evo-owl-blog .slick-arrow {
        display: none !important
    }
}

.section_blogs .evo-owl-blog .slick-arrow.slick-prev {
    left: -15px
}

.section_blogs .evo-owl-blog .slick-arrow.slick-prev:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/back.svg?1622789881849);
    height: 30px;
    width: 30px;
    display: block
}

.section_blogs .evo-owl-blog .slick-arrow.slick-next {
    right: -15px
}

.section_blogs .evo-owl-blog .slick-arrow.slick-next:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/404/112/themes/787627/assets/right-arrow.svg?1622789881849);
    height: 30px;
    width: 30px;
    display: block
}

.section_blogs .evo-owl-blog .slick-dots {
    text-align: center
}

.section_blogs .evo-owl-blog .slick-dots li {
    display: inline-block
}

.section_blogs .evo-owl-blog .slick-dots li button {
    border-radius: 0;
    height: 10px;
    width: 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 0;
    font-size: 0
}

.section_blogs .evo-owl-blog .slick-dots li + li {
    margin-left: 5px
}

.section_blogs .evo-owl-blog .slick-dots li.slick-active button {
    border-color: #ff0080;
    background-color: #ff0080;
    border-radius: 0;
    width: 10px
}

.section_blogs .line-clamp {
    position: relative;
    height: 43px;
    overflow: hidden;
    display: block
}

.section_blogs .line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 22px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 50%)
}

@supports (-webkit-line-clamp: 2) {
    .section_blogs .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 43px;
        height: auto;
        min-height: 43px
    }

    .section_blogs .line-clamp:after {
        display: none
    }
}

.loading .chasing-dots > div {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #e5ae49
}

.loading .chasing-dots > div:first-child {
    top: 30px;
    -webkit-animation-name: b;
    animation-name: b;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
}

.loading .chasing-dots > div:nth-child(2) {
    left: 15px;
    -webkit-animation-name: c;
    animation-name: c;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
}

.loading .chasing-dots > div:nth-child(3) {
    top: 30px;
    left: 30px;
    -webkit-animation-name: d;
    animation-name: d;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@keyframes b {
    33% {
        -webkit-transform: translate(15px, -30px);
        transform: translate(15px, -30px)
    }
    66% {
        -webkit-transform: translate(30px);
        transform: translate(30px)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes c {
    33% {
        -webkit-transform: translate(15px, 30px);
        transform: translate(15px, 30px)
    }
    66% {
        -webkit-transform: translate(-15px, 30px);
        transform: translate(-15px, 30px)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes d {
    33% {
        -webkit-transform: translate(-30px);
        transform: translate(-30px)
    }
    66% {
        -webkit-transform: translate(-15px, -30px);
        transform: translate(-15px, -30px)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.flip-clock-wrapper a {
    cursor: pointer;
    text-decoration: none;
    color: #fff
}

.flip-clock-wrapper a:hover {
    color: #fff
}

.flip-clock-wrapper ul {
    list-style: none
}

.flip-clock-wrapper.clearfix:before, .flip-clock-wrapper.clearfix:after {
    content: " ";
    display: table
}

.flip-clock-wrapper.clearfix:after {
    clear: both
}

.flip-clock-wrapper.clearfix {
    *zoom: 1
}

.flip-clock-wrapper {
    font-size: 11px;
    -webkit-user-select: none
}

.flip-clock-meridium {
    background: none !important;
    box-shadow: 0 0 0 !important;
    font-size: 36px !important
}

.flip-clock-meridium a {
    color: #313333
}

.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: 100%
}

.flip-clock-wrapper:before, .flip-clock-wrapper:after {
    content: " ";
    display: table
}

.flip-clock-wrapper:after {
    clear: both
}

.flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin: 0 3px;
    width: 30px;
    height: 45px;
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
    border-radius: 6px;
    background: #000
}

@media (max-width: 767px) {
    .flip-clock-wrapper ul {
        margin: 0 2px;
        width: 25px;
        height: 35px;
        line-height: 33px;
        border-radius: 0;
        font-size: 20px
    }
}

.flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-decoration: none !important
}

@media (max-width: 767px) {
    .flip-clock-wrapper ul li {
        line-height: 35px
    }
}

.flip-clock-wrapper ul li:first-child {
    z-index: 2
}

.flip-clock-wrapper ul li a {
    display: block;
    height: 100%;
    -webkit-perspective: 200px;
    -moz-perspective: 200px;
    perspective: 200px;
    margin: 0 !important;
    overflow: visible !important;
    cursor: default !important
}

.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 80px;
    overflow: hidden;
    outline: 1px solid transparent
}

.flip-clock-wrapper ul li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2
}

.flip-clock-wrapper ul li a div.up {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    top: 0
}

.flip-clock-wrapper ul li a div.up:after {
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 3px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4)
}

.flip-clock-wrapper ul li a div.down {
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    bottom: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #333;
    border-radius: 6px;
    font-size: 30px
}

@media (max-width: 767px) {
    .flip-clock-wrapper ul li a div div.inn {
        font-size: 20px
    }
}

.flip-clock-wrapper ul li a div.up div.inn {
    top: 0
}

.flip-clock-wrapper ul li a div.down div.inn {
    bottom: 0
}

.flip-clock-wrapper ul.play li.flip-clock-before {
    z-index: 3
}

.flip-clock-wrapper ul.play li.flip-clock-active {
    -webkit-animation: asd 0.01s 0.49s linear both;
    -moz-animation: asd 0.01s 0.49s linear both;
    animation: asd 0.01s 0.49s linear both;
    z-index: 5
}

.flip-clock-divider {
    float: left;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 45px
}

@media (max-width: 767px) {
    .flip-clock-divider {
        height: 35px
    }
}

.flip-clock-divider .flip-clock-label {
    display: none
}

.flip-clock-divider:first-child {
    width: 0
}

.flip-clock-dot {
    display: block;
    background: #000;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    left: 3px
}

.flip-clock-divider .flip-clock-label {
    position: absolute;
    top: -1.5em;
    right: -86px;
    color: black;
    text-shadow: none
}

.flip-clock-divider.minutes .flip-clock-label {
    right: -88px
}

.flip-clock-divider.seconds .flip-clock-label {
    right: -91px
}

.flip-clock-dot.top {
    top: 22px
}

.flip-clock-dot.bottom {
    bottom: 20px
}

@-webkit-keyframes asd {
    0% {
        z-index: 2
    }
    100% {
        z-index: 4
    }
}

@-moz-keyframes asd {
    0% {
        z-index: 2
    }
    100% {
        z-index: 4
    }
}

@-o-keyframes asd {
    0% {
        z-index: 2
    }
    100% {
        z-index: 4
    }
}

@keyframes asd {
    0% {
        z-index: 2
    }
    100% {
        z-index: 4
    }
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
    z-index: 2;
    -webkit-animation: turn 0.5s 0.5s linear both;
    -moz-animation: turn 0.5s 0.5s linear both;
    animation: turn 0.5s 0.5s linear both
}

@-webkit-keyframes turn {
    0% {
        -webkit-transform: rotateX(90deg)
    }
    100% {
        -webkit-transform: rotateX(0deg)
    }
}

@-moz-keyframes turn {
    0% {
        -moz-transform: rotateX(90deg)
    }
    100% {
        -moz-transform: rotateX(0deg)
    }
}

@-o-keyframes turn {
    0% {
        -o-transform: rotateX(90deg)
    }
    100% {
        -o-transform: rotateX(0deg)
    }
}

@keyframes turn {
    0% {
        transform: rotateX(90deg)
    }
    100% {
        transform: rotateX(0deg)
    }
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
    z-index: 2;
    -webkit-animation: turn2 0.5s linear both;
    -moz-animation: turn2 0.5s linear both;
    animation: turn2 0.5s linear both
}

@-webkit-keyframes turn2 {
    0% {
        -webkit-transform: rotateX(0deg)
    }
    100% {
        -webkit-transform: rotateX(-90deg)
    }
}

@-moz-keyframes turn2 {
    0% {
        -moz-transform: rotateX(0deg)
    }
    100% {
        -moz-transform: rotateX(-90deg)
    }
}

@-o-keyframes turn2 {
    0% {
        -o-transform: rotateX(0deg)
    }
    100% {
        -o-transform: rotateX(-90deg)
    }
}

@keyframes turn2 {
    0% {
        transform: rotateX(0deg)
    }
    100% {
        transform: rotateX(-90deg)
    }
}

.flip-clock-wrapper ul li.flip-clock-active {
    z-index: 3
}

.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, #000));
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, #000 100%;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000 100%);
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, #000 100%;
    -webkit-animation: show 0.5s linear both;
    -moz-animation: show 0.5s linear both;
    animation: show 0.5s linear both
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, #000));
    background: linear, top, rgba(0, 0, 0, 0.1) 0%, #000 100%;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #000 100%);
    background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, #000 100%;
    -webkit-animation: hide 0.5s 0.3s linear both;
    -moz-animation: hide 0.5s 0.3s linear both;
    animation: hide 0.5s 0.3s linear both
}

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
    background: -moz-linear-gradient(top, #000 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: linear, top, #000 0%, rgba(0, 0, 0, 0.1) 100%;
    background: -o-linear-gradient(top, #000 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, #000 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear, to bottom, #000 0%, rgba(0, 0, 0, 0.1) 100%;
    -webkit-animation: show 0.5s linear both;
    -moz-animation: show 0.5s linear both;
    animation: show 0.5s linear both
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
    background: -moz-linear-gradient(top, #000 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: linear, top, #000 0%, rgba(0, 0, 0, 0.1) 100%;
    background: -o-linear-gradient(top, #000 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, #000 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear, to bottom, #000 0%, rgba(0, 0, 0, 0.1) 100%;
    -webkit-animation: hide 0.5s 0.3s linear both;
    -moz-animation: hide 0.5s 0.3s linear both;
    animation: hide 0.5s 0.2s linear both
}

@-webkit-keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes hide {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes hide {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes hide {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes hide {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.section_bannertrangchu {
    margin-top: 30px
}
