@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background, .category-products .products-view-grid .evo-product-block-item .product_thumb img:not(.loaded) {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 700px 104px;
    position: relative
}

.evo-main-cate {
    padding: 10px;
    margin-bottom: 12px;
    background: linear-gradient(90deg, #f7f7f7 0, #e7e3e4 100%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover
}

@media (max-width: 767px) {
    .evo-main-cate {
        padding: 0;
        background-image: none !important
    }
}

.evo-main-cate .group-category-white {
    width: 66.66%;
    padding: 20px;
    background-color: #fff
}

@media (max-width: 767px) {
    .evo-main-cate .group-category-white {
        padding: 0;
        width: 100%
    }
}

.evo-main-cate .group-category-white .col-title {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: #333f48
}

@media (max-width: 767px) {
    .evo-main-cate .group-category-white .col-title {
        text-align: center
    }
}

@media (max-width: 767px) {
    .evo-main-cate .group-category-white .group-category {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch
    }
}

.evo-main-cate .group-category-white .group-category a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    background-color: #fff;
    padding: 5px 12px
}

@media (max-width: 767px) {
    .evo-main-cate .group-category-white .group-category a {
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0 auto;
        flex-shrink: 0;
        margin-top: 10px;
        margin-right: 7px
    }
}

.evo-main-cate .group-category-white .group-category a:hover, .evo-main-cate .group-category-white .group-category a:focus {
    color: #ff0080;
    border-color: #ff0080
}

.category-products .sort-cate {
    display: block;
    padding-bottom: 10px
}

.category-products .sort-cate .sort-cate-left {
    float: left;
    margin-top: 5px
}

.category-products .sort-cate .sort-cate-left h3 {
    color: #000;
    font-size: 14px;
    float: left;
    margin: 0;
    margin-top: 2px
}

.category-products .sort-cate .sort-cate-left ul {
    display: inline-block
}

.category-products .sort-cate .sort-cate-left ul li {
    float: left;
    padding: 0 0 0 10px
}

.category-products .sort-cate .sort-cate-left ul li a {
    color: #000;
    font-size: 14px;
    position: relative
}

.category-products .sort-cate .sort-cate-left ul li a i {
    height: 16px;
    width: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 5px 0 0;
    position: relative
}

.category-products .sort-cate .sort-cate-left ul li:hover i, .category-products .sort-cate .sort-cate-left ul li.active i {
    border: 1px solid #ff0080;
    height: 16px;
    width: 16px
}

.category-products .sort-cate .sort-cate-left ul li:hover i:before, .category-products .sort-cate .sort-cate-left ul li.active i:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #ff0080;
    position: absolute;
    border-radius: 50%;
    margin: 3px
}

@media (min-width: 992px) {
    .category-products .products-view-grid .col-xs-6:nth-child(4n+1) {
        clear: left
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .category-products .products-view-grid .col-xs-6:nth-child(3n+1) {
        clear: left
    }
}

@media (max-width: 767px) {
    .category-products .products-view-grid .col-xs-6:nth-child(2n+1) {
        clear: left
    }
}

@media (max-width: 480px) {
    .category-products .products-view-grid .col-xs-6:nth-child(2n+1) {
        padding-right: 3.5px
    }

    .category-products .products-view-grid .col-xs-6:nth-child(2n+2) {
        padding-left: 3.5px
    }
}

.category-products .products-view-grid .evo-product-block-item .product_thumb {
    position: relative;
    height: 266px
}

@media (max-width: 1024px) {
    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 216px
    }
}

@media (max-width: 991px) {
    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 307px
    }
}

@media (max-width: 767px) {
    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 464px
    }
}

@media (max-width: 668px) {
    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 418px
    }
}

@media (max-width: 569px) {
    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 352px
    }
}

@media (max-width: 480px) {
    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 262px
    }
}

@media (max-width: 376px) {
    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 236px
    }
}

@media (max-width: 321px) {
    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 199px
    }
}

.category-products .products-view-grid .evo-product-block-item .product_thumb img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.category-products .products-view-grid .evo-product-block-item .product_thumb img:not(.loaded) {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.2
}

@media (min-width: 992px) {
    .left-content {
        position: -webkit-sticky;
        position: sticky;
        top: 10px
    }
}

@media (min-width: 992px) {
    .left-content .aside-filter .aside-hidden-mobile {
        display: block !important
    }
}

@media (max-width: 991px) {
    .left-content .aside-filter .aside-hidden-mobile {
        padding-bottom: 10px;
        display: none
    }
}

.left-content .aside-filter .aside-hidden-mobile .filter-container {
    max-height: calc(100vh - 50px);
    overflow-y: auto
}

@media (max-width: 991px) {
    .left-content .aside-filter .aside-hidden-mobile .filter-container {
        max-height: 350px
    }
}

.left-content .aside-filter .aside-hidden-mobile .filter-container::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #f7f8fa
}

.left-content .aside-filter .aside-hidden-mobile .filter-container::-webkit-scrollbar {
    width: 6px
}

.left-content .aside-filter .aside-hidden-mobile .filter-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #e0e0e0
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title {
    font-size: 14px;
    color: #333f48;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    padding-right: 25px
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title i {
    padding: 3px 0;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 12px
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title:hover {
    color: #ff0080
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title:hover i {
    color: #ff0080
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title.active i:before {
    content: "\f067"
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item + .aside-item {
    margin-top: 15px
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-content ul li label {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6)
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-content ul li label:hover {
    color: #ff0080
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-content ul li label:hover input + .fa:before {
    border-color: #ff0080
}

@media (max-width: 991px) {
    .left-content .aside-filter .heading {
        display: block;
        padding: 7px 10px;
        padding-right: 25px;
        border: 1px solid #f5f5f5;
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #333f48;
        position: relative
    }

    .left-content .aside-filter .heading i {
        padding: 3px 0;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 12px
    }

    .left-content .aside-filter .heading.active {
        border-color: #333f48
    }

    .left-content .aside-filter .heading.active i:before {
        content: "\f068"
    }
}
