label {
    font-weight: 500;
}
#article_comments {
    margin-bottom: 15px;
}
.evo-article .title-head {
    display: block;
    line-height: 1.3em;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin: 0;
}
@media (max-width: 767px) {
    .evo-article .title-head {
        font-size: 22px;
    }
}
.evo-article .article-details {
    margin-top: 30px;
}
.evo-article .article-details p {
    word-wrap: break-word;
}
@media (max-width: 767px) {
    .evo-article .article-details {
        margin-top: 20px;
    }
}
.evo-article .article-details h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}
.evo-article .article-details h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px;
}
.evo-article .article-details a {
    color: #ff0080;
}
.evo-article .article-details a:hover,
.evo-article .article-details a:focus {
    color: #1c1c1c;
    font-weight: 500;
}
.evo-article .article-details img {
    max-width: 100%;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .evo-article .article-details img {
        max-width: 600px;
        display: block;
    }
}
@media (max-width: 480px) {
    .evo-article .article-details img {
        margin-left: -7px;
        width: 100vw !important;
        max-width: unset !important;
    }
}
.evo-article .article-details iframe {
    max-width: 100% !important;
}
.article-summary {
    font-size: 15px;
    max-width: 700px;
    margin: 20px auto;
    font-style: italic;
    color: #333;
    text-align: justify;
}
.tag_article .inline {
    font-weight: 500;
    font-size: 15px;
}
.tag_article a {
    background: #f0f2f5;
    border-radius: 4px;
    color: #000;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
}
.tag_article a:hover {
    background-color: #000;
    color: #fff;
}
.evo-article-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    color: #167ac6;
    background-color: #dbedf9;
    border: 1px solid #c7e4f4;
}
@media (max-width: 767px) {
    .evo-article-toolbar {
        display: block;
        margin-bottom: 20px;
    }
}
.evo-article-toolbar .evo-article-toolbar-left .evo-article-toolbar-head {
    color: #167ac6;
    font-weight: 500;
    display: inline-block;
    float: left;
    margin-right: 5px;
}
@media (max-width: 767px) {
    .evo-article-toolbar .evo-article-toolbar-left .evo-article-toolbar-head {
        width: 100%;
        margin-right: 0;
    }
}
.evo-article-toolbar .evo-article-toolbar-left .evo-article-toolbar-title {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left;
}
@media (max-width: 991px) {
    .evo-article-toolbar .evo-article-toolbar-left .evo-article-toolbar-title {
        max-width: 300px;
    }
}
@media (max-width: 767px) {
    .evo-article-toolbar .evo-article-toolbar-left .evo-article-toolbar-title {
        max-width: unset;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .evo-article-toolbar .evo-article-toolbar-left {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .evo-article-toolbar .evo-article-toolbar-right {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}
.evo-article-toolbar .evo-article-toolbar-right a {
    font-size: 12px;
    letter-spacing: 2px;
    color: #167ac6;
    font-weight: 500;
}
.evo-article-toolbar .evo-article-toolbar-right a svg {
    color: #167ac6;
    vertical-align: -2px;
    height: 12px;
}
.evo-article-toolbar .evo-article-toolbar-right a:first-child svg {
    margin-right: 6px;
}
.evo-article-toolbar .evo-article-toolbar-right a:last-child {
    margin-left: 15px;
}
.evo-article-toolbar .evo-article-toolbar-right a:last-child svg {
    margin-left: 6px;
}
.evo-article-toolbar .evo-article-toolbar-right a:hover {
    color: #ff0080;
}
.evo-article-toolbar .evo-article-toolbar-right a:hover svg {
    color: #ff0080;
}
.evo-article-toolbar .evo-article-toolbar-right .separator {
    display: inline-block;
    position: relative;
    content: "";
    width: 1px;
    height: 12px;
    margin: 0 18px;
    background: rgba(255, 255, 255, 0.8);
    vertical-align: middle;
}
#article-comments {
    margin-top: 0 !important;
}
#article-comments .user-name-comment strong {
    font-weight: 500;
}
#article_comments button {
    padding-top: 0;
    padding-bottom: 0;
}
.blog_related {
    margin-bottom: 15px;
    margin-top: 15px;
    background: #fefefe;
    border: 1px solid #ff0080;
    border-radius: 4px;
    padding: 10px;
}
.blog_related h2 {
    color: #222;
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
}
@media (max-width: 480px) {
    .blog_related h2 {
        font-size: 16px;
    }
}
.blog_related .blog_entry {
    margin-bottom: 7px;
}
@media (max-width: 767px) {
    .blog_related .blog_entry {
        margin-bottom: 7px;
    }
}
.blog_related .blog_entry h3 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}
@media (max-width: 767px) {
    .blog_related .blog_entry h3 {
        margin-top: 0;
    }
}
.blog_related .blog_entry h3 a {
    font-size: 14px;
    color: #135841;
}
.blog_related .blog_entry h3 a:hover,
.blog_related .blog_entry h3 a:focus {
    color: #ff0080;
    text-decoration: none;
}
.blog_related .blog_entry h3 a:hover i,
.blog_related .blog_entry h3 a:focus i {
    color: #ff0080;
}
.aside-item.collection-category .aside-title {
    border-bottom: 1px solid #f5f5f5;
    margin: 0 0 10px;
    padding: 0 0 10px 0px;
    font-size: 14px;
    position: relative;
    color: #222;
}
.aside-item.collection-category .aside-title .title-head {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    margin-bottom: 0;
    text-transform: uppercase;
}
.aside-item.collection-category .aside-content .navbar-pills .nav-item a {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 25px;
    color: #1c1c1c;
    white-space: normal;
    position: relative;
    display: table;
    width: 100%;
}
.aside-item.collection-category .aside-content .navbar-pills .nav-item a:hover,
.aside-item.collection-category .aside-content .navbar-pills .nav-item a:focus {
    color: #ff0080;
    background-color: transparent;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
a
i.fa-caret-right {
    display: table-cell;
    width: 10px !important;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
.Collapsible__Plus {
    position: absolute;
    right: 7px;
    top: calc(50% - (20px / 2));
    width: 20px;
    height: 20px;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
.Collapsible__Plus::before,
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
.Collapsible__Plus::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: currentColor;
    -webkit-transition: opacity 0.4s ease-in-out,
    -webkit-transform 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out,
    -webkit-transform 0.4s ease-in-out;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
.Collapsible__Plus::before {
    width: 11px;
    height: 1px;
    opacity: 1;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
.Collapsible__Plus::after {
    width: 1px;
    height: 11px;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item.active
> .Collapsible__Plus::after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item.active
> .Collapsible__Plus::before {
    opacity: 0;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
.dropdown-menu {
    margin: 0;
    padding: 0;
    -webkit-transition: left 0.3s ease 0s, opacity 0.3s;
    transition: left 0.3s ease 0s, opacity 0.3s;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
.dropdown-menu
.nav-item
a {
    padding: 5px 10px;
    padding-right: 25px;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
.dropdown-menu
.nav-item
.dropdown-menu
.nav-item
a {
    padding: 5px 20px;
}
.aside-item.collection-category
.aside-content
.navbar-pills
.nav-item
.dropdown-menu
.nav-item
.dropdown-menu
.nav-item
.dropdown-menu
.nav-item
a {
    padding: 5px 30px;
}
.aside-item.top-news .aside-title {
    border-bottom: 1px solid #f5f5f5;
    margin: 0 0 10px;
    padding: 0 0 10px 0px;
    font-size: 14px;
    position: relative;
    color: #222;
}
.aside-item.top-news .aside-title .title-head {
    font-size: 14px;
    font-weight: bold;
    color: #222;
    margin-bottom: 0;
    text-transform: uppercase;
}
.aside-item.top-news .aside-title .title-head a {
    color: #222;
}
.aside-item.top-news .aside-title .title-head a:hover,
.aside-item.top-news .aside-title .title-head a:focus {
    color: #ff0080;
}
.aside-item.top-news .listpost li {
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}
.aside-item.top-news .listpost li label {
    float: left;
    padding: 5px 10px 0 10px;
    background: #ff0080;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    margin-right: 10px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 7px;
    width: 30px;
    text-align: center;
}
.aside-item.top-news .listpost li label:after {
    content: "";
    border-top: 10px solid #ff0080;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.aside-item.top-news .listpost li .colu {
    float: left;
    width: calc(100% - 40px);
    line-height: 1.1;
}
.aside-item.top-news .listpost li .colu a {
    color: #000;
}
.aside-item.top-news .listpost li .colu a:hover,
.aside-item.top-news .listpost li .colu a:focus {
    color: #ff0080;
}
.aside-item.top-news .listpost li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
