.thankyou-page {
    background-image: url("/images/thankyou-bg.png");
    line-height: 5;
}

.thankyou-page h4 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
}

.thankyou-page p {
    font-size: 16px;
    line-height: 1.5;
}
