.page {
    min-height: 550px
}

.pagecontact_ggmap iframe {
    width: 100%
}

.grecaptcha-badge {
    display: none !important
}

.rte img, .rte p img, .rte span img {
    height: auto !important;
    max-width: 100% !important;
    display: inline-block
}

.bizweb-product-reviews-form {
    min-width: 240px !important
}

fieldset {
    border: unset
}

textarea, input[type="text"], input[type="password"], input[type="button"], input[type="email"], input[type="submit"], input[type="number"] {
    -webkit-appearance: none;
    border-radius: 0
}

.wishlist-page-body .wishlist-grid-view .wishlist-view-page .wishlist-product .wishlist-product-content .wishlist-product-name {
    min-height: 93px;
    display: block
}

.sapo-product-reviews-badge .sapo-product-reviews-star i {
    font-size: 12px !important
}

.sapo-product-reviews-badge {
    clear: both !important;
    margin: 3px 0
}

.list_menu_update li {
    width: 100%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px
}

.list_menu_update li .icon_fl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: solid 2px #FF0080;
    background: transparent;
    text-align: center
}

.list_menu_update li .icon_fl .fa {
    font-size: 14px;
    color: #FF0080;
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: none;
    text-align: center
}

.list_menu_update li .icon_fr {
    display: block;
    width: calc(100% - 40px - 20px);
    -webkit-width: calc(100% - 40px - 20px);
    -moz-width: calc(100% - 40px - 20px);
    -o-width: calc(100% - 40px - 20px);
    -os-width: calc(100% - 40px - 20px);
    padding-left: 15px
}

.list_menu_update li .icon_fr span {
    display: inline-block;
    float: left;
    line-height: 22px;
    color: #fff
}

.list_menu_update li .icon_fr span a {
    color: #fff
}

.evo-search-bar form {
    border: 1px solid #ff0080
}

.evo-search-bar form .input-group-btn {
    text-align: center;
    width: 40px
}

.evo-search-bar form .input-group-btn button {
    text-align: center;
    width: 40px
}

.affix {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    z-index: 99999 !important;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 0 9.9px 0.1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9.9px 0.1px rgba(0, 0, 0, 0.1)
}

.affix_line {
    width: 100%;
    height: 1px;
    background: #fff
}

.affix + .affix_line {
    padding-top: 43px
}

.details-pro .special-price {
    display: block;
    font-weight: 500;
    font-size: 16px
}

.details-pro .old-price {
    display: block;
    font-weight: 500;
    font-size: 16px
}

.details-product .details-pro .price-box .old-price {
    margin-left: 0px
}

.details-product .details-pro .product-top .title-head {
    font-size: 28px
}

.details-product .details-pro .product-top .sku-product {
    font-size: 16px
}

.details-product .details-pro .price-box .save-price {
    font-size: 16px
}

.details-product .details-pro .inventory_quantity {
    font-size: 16px
}

.details-product .details-pro .form-product form .form-group .qty-ant label {
    font-size: 16px
}

.details-product .details-pro .form-product form .form-group .btn-mua button span.txt-main {
    font-size: 18px
}

.details-product .details-pro .form-product form .form-group .btn-mua button span.text-add {
    font-size: 14px
}

.call-and-payment {
    font-size: 15px
}

.store-place {
    font-size: 15px
}

@media (min-width: 1200px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 490px
    }

    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 490px
    }

    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 350px
    }

    .related-product .evo-owl-product .evo-product-block-item .product_thumb {
        height: 390px
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 400px
    }

    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 400px
    }

    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 285px
    }

    .related-product .evo-owl-product .evo-product-block-item .product_thumb {
        height: 315px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .affix {
        position: static
    }

    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 420px
    }

    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 420px
    }

    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 405px
    }

    .related-product .evo-owl-product .evo-product-block-item .product_thumb {
        height: 420px
    }
}

@media (max-width: 767px) {
    .affix {
        position: static
    }

    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 342px
    }

    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 342px
    }

    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 345px
    }

    .related-product .evo-owl-product .evo-product-block-item .product_thumb {
        height: 345px
    }

    header.header .evo-header-logo-search-cart .row .logo img {
        max-height: 30px
    }
}

@media (max-width: 375px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 308px
    }

    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 308px
    }

    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 315px
    }

    .related-product .evo-owl-product .evo-product-block-item .product_thumb {
        height: 305px
    }
}

@media (max-width: 320px) {
    .section_gift .evo-block-product .evo-product-block-item .product_thumb {
        height: 262px
    }

    .section_san_pham .e-tabs .tab-content .evo-product-block-item .product_thumb {
        height: 262px
    }

    .category-products .products-view-grid .evo-product-block-item .product_thumb {
        height: 262px
    }

    .related-product .evo-owl-product .evo-product-block-item .product_thumb {
        height: 260px
    }
}
